KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC=blackjack
SCHEMA_REGISTRY_URL=http://schema-registry:8081
POSTGRES_URL=jdbc:postgresql://timescaledb:5432/tablewatch
POSTGRES_USER=tablewatch
POSTGRES_PASSWORD=tablewatch

DB_HOST=timescaledb
DB_PORT=5432
DB_NAME=tablewatch
DB_USER=tablewatch
DB_PASSWORD=tablewatch

GRAFANA_CONTAINER_NAME=tablewatch-grafana
GF_SECURITY_ADMIN_USER=tablewatch
GF_SECURITY_ADMIN_PASSWORD=tablewatch
GF_SERVER_DOMAIN=your-domain.com
GF_SERVER_ROOT_URL=http://localhost:3000
GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_ANONYMOUS_ORG_NAME=Main Org.
GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
GF_AUTH_DISABLE_LOGIN_FORM=true
GF_USERS_ALLOW_SIGN_UP=false

DOMAIN=tablewatch.net
CADDY_EMAIL=mikeypeter37@gmail.com
BET_TOPIC=bet_events
OUTCOME_TOPIC=outcome_events